#![enable(implicit_some)]
(
border_width: 4,
margin: 5,
// workspace_margin: [5,0,5,0],
default_border_color: "#37474F",
floating_border_color: "#22ff55",
// focused_border_color: "#FFB53A",
focused_border_color: "#eeaa00",
gutter: Some([(
       side: Left,
       value: 20,
       wsid: Some(0),
       ),(
       side: Right,
       value: 20,
       wsid: Some(0),
       )])
)